body {
  font-size: 1rem;
  margin: 0px;
}

svg {
  display: block;
  margin: auto;
}

.bars {
  // fill: #033379;
  fill: #4F61A1;
}

text {
  font-family: sans-serif;
}

.tick text {
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 1em;
  fill: #635F5D;
}

.title {
  font-size: 2em;
  text-anchor: middle;
}

#menus select {
  font-size: 1.2em;
}

#menus select option {
  font-size: 1rem;
}