body {
  font-size: 1rem;
  margin: 0px;
  background-color: rgb(10, 10, 10);
  form {
    font-family: sans-serif;
    color: white;
    padding-top: 15px;
  }
  svg {
    display: block;
    margin: auto;
    text {
      font-family: sans-serif;
      fill: #e4e4e4;
    }
    g {
      .title {
        fill: white;
        font-size: 2em;
        text-anchor: middle;
      }
      .bars {
        fill: lightblue;
      }
      .axis-x {
        .tick line {
          fill: #e4e4e4;
        }
        .tick text {
          font-size: 1.2em;
          fill: #a8a8a8;
        }
        path {
          fill: #707070;
        }
      }
      .axis-y {
        path {
          fill: #707070;
        }
      }
    }
  }
}

.tick line {
  stroke: #e4e4e4;
}

.axis-label {
  font-size: 1.5em;
  fill: #e4e4e4;
}

#menus select {
  font-size: 1.2em;
}

#menus select option {
  font-size: 1rem;
}